h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Koulen', cursive;
}


body {
	font-family: 'Nunito', sans-serif;
	background-image: url( "/images/pattern.webp" );
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p {
		color: $fontColor;
	}
	li {
		list-style-type: none;
	}
	
	a{
		color: rgb(255, 255, 176);
		text-decoration: none;
	}
}
